<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="app-properties" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <app-properties>
    <add key="browser.loadTimeout" value="10" />
    <add key="browser.pollingInterval" value="1000" />
    <add key="google.service.baseurl" value="http://www.google.com" />
    <add key="google.service.browser.type" value="Firefox" />
    <add key="google.service.browser.profile.path" value="d:\git\htmlelements-dotnet\HtmlElements-DotNet\Selenium-Profiles\Firefox" />
  </app-properties>

</configuration>